C:\Users\Rokas\Desktop\Quick 861dw\Quick861dw\Code\Quick861DW_firmware\Quick861DW_firmware\Debug
\*C:\Users\Rokas\Desktop\Quick 861dw\Quick861dw\Code\Quick861DW_firmware\Quick861DW_firmware\Quick861DW_firmware.componentinfo.xml